<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GradTrack | Graduates</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="plugins/datatables/dataTables.bootstrap.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="css/skins/_all-skins.min.css">
    <link rel='shortcut icon' href='/public/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" type="text/css" href="/css/graduate.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/login.css"> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/dashboard" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <!-- <span class="fa fa-cloud"></span> -->
                <!-- logo for regular state and mobile devices -->
                <i class="fa fa-cloud" style="margin-right: 5px;"></i><b>Grad</b>Track
                <!-- <span class="logo-lg"></span> -->
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/img/user2-160x160.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">Alexander Pierce</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Alexander Pierce - Web Developer
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Alexander Pierce</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                                </button>
                            </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li>
                        <a href="/dashboard"><i class="fa fa-tachometer"></i> Dashboard </a>
                    </li>
                    <li><a href="/report"><i class="fa fa-pie-chart"></i> Report </a></li>
                    <li class="active">
                        <a href="/graduates">
                            <i class="fa fa-th"></i> <span>Graduates</span>
                            <span class="pull-right-container">
                                <small class="label pull-right bg-green">new</small>
                            </span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                 Graduates 

                <a href="#" id="addGradBtn" class="btn btn-primary " style="margin-right: 5px;">
                    <i class="fa fa-plus-square" style="margin-right: 5px;"></i>  Add Graduate
                </a>

                <div class="modal fade" id="addGradModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                          <h4 class="modal-title" id="exampleModalLabel" style="font-size: 24px;"><b>Add a Graduate</b></h4>
                        </div>
                        <div class="modal-body">

                          <form id="addGradForm" action="/addGrad" method="post" style="display: block;">
                                  <label for="recipient-name" class="form-control-label" style="font-size: 16px;">Student Id:</label>
                                <input type="text" name="studentId" class="form-control" id="studentId" placeholder="1234567">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">First Name:</label>
                                <input type="text" name="firstName" class="form-control" id="studentFirstName" placeholder="Jane">
                               
                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Last Name:</label>
                                <input type="text" name="lastName" class="form-control" id="studentLastName" placeholder="Doe">
                             
                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Email:</label>
                                <input type="text" name="email" class="form-control" id="studentEmail" placeholder="example@uw.edu">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Age:</label>
                                <input type="text" name="age" class="form-control" id="studentAge" placeholder="20">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Gender:</label>
                                <input type="text" name="gneder" class="form-control" id="studentAge" placeholder="20">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Generation:</label>
                                <input type="text" name="generation" class="form-control" id="studentGen" placeholder="2nd">

                                 <label for="message-text" class="form-control-label" style="font-size: 16px;">Ethnicity:</label>
                                <input type="text" name="ethnicity" class="form-control" id="studentEthnicity" placeholder="Hispanic">
                                
                                <label for="message-text" class="form-control-label" style="font-size: 16px;">GPA:</label>
                                <input type="text" name="gpa" class="form-control" id="studentGPA" placeholder="3.2">
                             
                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Program:</label>
                                <input type="text" name="program" class="form-control" id="studentProgram" placeholder="CSS">
                                
                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Degree:</label>
                                <input type="text" name="degree" class="form-control" id="studentEthnicity" placeholder="BS">
                               
                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Grad Year:</label>
                                <input type="text" name="gradYear" class="form-control" id="studentGradYear" placeholder="YYYY">
                                
                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Grad Term:</label>
                                <input type="text" name="gradTerm" class="form-control" id="studentGradTerm" placeholder="SPR">

                                <label for="message-text" class="form-control-label" id="canContact" style="font-size: 16px;">Contact: </label>
                                <label class="custom-control custom-radio">
                                    <input id="radio1Edit" name="canContact" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description" style="font-size: 16px;">Yes</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input id="radio2Edit" name="canContact" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description" style="font-size: 16px;">No</span>
                                </label>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                   <button type="submit" class="btn btn-primary" id="addGradToDataBtn" form="addGradForm">Add</button>
                                </div>
                          </form>
                        </div>
                       
                      </div>
                    </div>
                  </div>

                  <!-- end modal -->
                                 
            </h1>
                <ol class="breadcrumb">
                    <li><a href="/graduates"><i class="fa fa-th"></i> Graduates</a></li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box">
                            <div class="box-header">
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <table id="example1" class="table table-bordered table-striped" class="display nowrap" width="100%;" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Action</th>
                                            <th>Student Id</th>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Ethnicity</th>
                                            <th>Generation</th>
                                            <th>Email</th>
                                            <th>Program</th>
                                            <th>Degree</th>
                                            <th>Grad Year</th>
                                            <th>Grad Term</th>
                                            <th>GPA </th>
                                            <th>Contact</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i = graduates.length - 1; i >= 0; i--) { %>
                                            <div action="post" method="/addGrad" class="gradIdTbl">
                                                <tr data-child-value=<%graduates[i].email%>>
                                                    <div id="actionBtns">
                                                        <td>
                                                            <a href="#" class="btn btn-danger btn-xs">
                                                                <span class="glyphicon glyphicon-trash" id="deleteBtn" class="deleteClass"></span> Del</a>
                                                            <a href="#" class="btn btn-success btn-xs">
                                                                <i class="fa fa-paper-plane" aria-hidden="true"></i> Survey</a>
                                                            <!--  <a class='btn btn-info btn-xs disabled' href="#">
                                                                    <span class="glyphicon glyphicon-edit"> </span> Edit
                                                                </a> -->
                                                            <a class='btn btn-info btn-xs' href="#">
                                                                <span class="glyphicon glyphicon-edit"> </span> Edit
                                                            </a>
                                                        </td>
                                                    </div>
                                                    <td>
                                                        <%= graduates[i].studentId %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].lastName %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].firstName %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].age  %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].gender  %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].ethnicity  %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].generation  %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].email  %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].program  %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].degree  %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].gradYear  %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].gradTerm  %>
                                                    </td>
                                                    <td>
                                                        <%= graduates[i].gpa  %>
                                                    </td>
                                                    <td>
                                                        <% if(graduates[i].canContact == 1)   { %>
                                                            Yes
                                                            <% } else { %>
                                                                No
                                                                <%}%>
                                                    </td>
                                            </div>
                                            </tr>
                                            <%}%>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Action</th>
                                            <th>Student Id</th>
                                            <th>Last Name</th>
                                            <th>First Name</th>
                                            <th>Age</th>
                                            <th>Gender</th>
                                            <th>Ethnicity</th>
                                            <th>Generation</th>
                                            <th>Email</th>
                                            <th>Program</th>
                                            <th>Degree</th>
                                            <th>Grad Year</th>
                                            <th>Grad Term</th>
                                            <th>GPA </th>
                                            <th>Contact</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- start edit modal -->
        <div class="modal fade" id="editGradModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLabel" style="font-size: 24px;"><b>Edit a Graduate</b></h4>
                    </div>
                    <div class="modal-body">
                        <form style="display: block;" action="/editGrad" method="post" id="editGradForm">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label" style="font-size: 16px;">Student Id:</label>
                                <input type="text" name="studentId" class="form-control" id="studentIdEdit">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">First Name:</label>
                                <input type="text" name="firstName" class="form-control" id="studentFirstNameEdit">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Last Name:</label>
                                <input type="text" name="lastName" class="form-control" id="studentLastNameEdit">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Email:</label>
                                <input type="text" name="email" class="form-control" id="studentEmailEdit">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Age:</label>
                                <input type="text" name="age" class="form-control" id="studentAgeEdit">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Generation:</label>
                                <input type="text" name="generation" class="form-control" id="studentGenEdit">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Ethnicity:</label>
                                <input type="text" name="ethnicity" class="form-control" id="studentEthnicityEdit">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">GPA:</label>
                                <input type="text" name="gpa" class="form-control" id="studentGPAEdit">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Program:</label>
                                <input type="text" name="program" class="form-control" id="studentProgramEdit">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Degree:</label>
                                <input type="text" name="degree" class="form-control" id="studentDegreeEdit">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Grad Year:</label>
                                <input type="text" name="gradYear" class="form-control" id="studentGradYearEdit">

                                <label for="message-text" class="form-control-label" style="font-size: 16px;">Grad Term:</label>
                                <input type="text" name="gradTerm" class="form-control" id="studentGradTermEdit">

                                <label for="message-text" class="form-control-label" id="canContact" style="font-size: 16px;">Contact: </label>
                                <label class="custom-control custom-radio">
                                    <input id="radio1Edit" name="canContact" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description" style="font-size: 16px;">Yes</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input id="radio2Edit" name="canContact" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description" style="font-size: 16px;">No</span>
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="editGradToDataBtn" form="editGradForm">Edit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- end edit modal -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.8
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
        </footer>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <!-- Home tab content -->
                <div class="tab-pane" id="control-sidebar-home-tab">
                    <h3 class="control-sidebar-heading">Recent Activity</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                    <p>Will be 23 on April 24th</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-user bg-yellow"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                    <p>New phone +1(800)555-1234</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                    <p>nora@example.com</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="menu-icon fa fa-file-code-o bg-green"></i>
                                <div class="menu-info">
                                    <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                    <p>Execution time 5 seconds</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                    <h3 class="control-sidebar-heading">Tasks Progress</h3>
                    <ul class="control-sidebar-menu">
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.control-sidebar-menu -->
                </div>
                <!-- /.tab-pane -->
                <!-- Stats tab content -->
                <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
                <!-- /.tab-pane -->
                <!-- Settings tab content -->
                <div class="tab-pane" id="control-sidebar-settings-tab">
                    <form method="post">
                        <h3 class="control-sidebar-heading">General Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Report panel usage
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Some information about this general settings option
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Allow mail redirect
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Other sets of options are available
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Expose author name in posts
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                            <p>
                                Allow the user to show his name in blog posts
                            </p>
                        </div>
                        <!-- /.form-group -->
                        <h3 class="control-sidebar-heading">Chat Settings</h3>
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Show me as online
                                <input type="checkbox" class="pull-right" checked>
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Turn off notifications
                                <input type="checkbox" class="pull-right">
                            </label>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label class="control-sidebar-subheading">
                                Delete chat history
                                <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                            </label>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.tab-pane -->
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 2.2.3 -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="js/bootstrap.min.js"></script>
    <!-- DataTables -->
    <script src="plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="plugins/datatables/dataTables.bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="js/demo.js"></script>
    <!-- Graduate functionality -->
    <script src="js/pages/graduate.js" type="text/javascript"></script>
    <!-- page script -->
    <script>
    $(function() {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
    </script>
    <!-- adding a graduate -->
    <script type="text/javascript">
    $(document).ready(function() {
        $("#addGradBtn").click(function() {

            $("#addGradModal").modal('show');
        });
    });
    $(document).ready(function() {
        $("#addGradToDataBtn").click(function() {
            $("#addGradModal").modal('hide');

        });
    });
    </script>
    <script type="text/javascript">
    // for deleting a graduate from the system
    $(document).ready(function() {
        var table = $('#example1').DataTable();
        $('#example1 tbody').on('click', '.btn-danger', function() {

            var gradId = table.row($(this).parents('tr')).data();

            console.log("delete this id: " + gradId[1]);

            table
                .row($(this).parents('tr'))
                .remove()
                .draw();

            $.ajax({
                url: '/delete',
                data: {
                    gradId: gradId[1]
                },
                type: 'POST',
            });
        });

    });
    </script>
    <script type="text/javascript">
    // for editing a current graduate
    $(document).ready(function() {
        var table = $('#example1').DataTable();

        $('#example1 tbody').on('click', '.btn-info', function() {
            console.log("edit grad");
            var gradInfo = table.row($(this).parents('tr')).data();

            var id = gradInfo[1];
            var lastName = gradInfo[2];
            var firstName = gradInfo[3];
            var age = gradInfo[4];
            var gender = gradInfo[5];
            var ethnicity = gradInfo[6];
            var generation = gradInfo[7];
            var email = gradInfo[8];
            var program = gradInfo[9];
            var degree = gradInfo[10];
            var gradYr = gradInfo[11];
            var gradTrm = gradInfo[12];
            var gpa = gradInfo[13];
            var contact = gradInfo[14];


            console.log("grad info: " + firstName + " " + lastName + " " + id + " " + program + " " + contact);


            $('#studentIdEdit').val(id);
            $('#studentLastNameEdit').val(lastName);
            $('#studentFirstNameEdit').val(firstName);
            $('#studentProgramEdit').val(program);
            $('#studentGenderEdit').val(gender);
            $('#studentAgeEdit').val(age);
            $('#studentEthnicityEdit').val(ethnicity);
            $('#studentGenEdit').val(generation);
            $('#studentEmailEdit').val(email);
            $('#studentDegreeEdit').val(degree);
            $('#studentGradYearEdit').val(gradYr);
            $('#studentGradTermEdit').val(gradTrm);
            $('#studentDegreeEdit').val(degree);
            $('#studentGPAEdit').val(gpa);

            if (contact == "Yes") {
                $('#radio1Edit').prop("interdeterminate", true);

            }

            $("#editGradModal").modal('show');



        });


    });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#editGradToDataBtn").click(function() {
            $("#editGradModal").modal('hide');

        });
    });
    </script>
    <!-- fix the header and footer  of table-->
    <script type="text/javascript">
    $(document).ready(function() {
        var table = $('#example1').DataTable({
            fixedHeader: {
                header: true,
                footer: true
            }
        });
    });
    </script>
    <!-- Enable Scrolling -->
    <script type="text/javascript">
    var table;
    $(document).ready(function() {
        table = $('#example1').DataTable({
            "scrollX": true,
            "sScrollX": '100%',
            // "sScrollXInner": "110%",
            "bScrollCollapse": true,
        });
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each(function() {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable
        var table = $('#example').DataTable();

        // Apply the search
        table.columns().every(function() {
            var that = this;

            $('input', this.footer()).on('keyup change', function() {
                if (that.search() !== this.value) {
                    that
                        .search(this.value)
                        .draw();
                }
            });
        });
    });
    </script>
</body>

</html>
